---
const {title, src, pages, price, href, tag = "Новое"} = Astro.props;
---
<div class="cb-product-card">
    <a href={href}>
        <img src={src} />
        <img src="#" />
        <div class="cb-product-card__info">
            <div class="cb-product-card__price">
                <span class="cb-product-card__price-value">{price}</span>
                <span class="cb-product-card__price-currency">₽</span>
            </div>
            <h3 class="cb-product-card__title">{title}</h3>
            <span class="cb-product-card__additional-description" set:html={pages} />
        </div>
        <div class="cb-product-card__tag">{tag}</div>
    </a>
</div>

<style lang="scss">

    .cb-product-card {
        --row-gap-text: 0em;

        border-radius: .3rem;
        transition: var(--defaultAnimate);

        & img {
            width: 100%;
            object-fit: cover;
            min-height: 200px;
            aspect-ratio: 1/1;
            transition: ease .4s;

            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }

            &:hover {
                &:nth-child(1) {
                    opacity: 0;
                }
            }
        }


        & a {
            position: relative;
            display: flex;
            flex-direction: column;
            color: inherit;
            text-decoration: none;
            height: 100%;
        }
    }
    .cb-product-card__additional-description {
        display: flex;
        flex-direction: column;
        gap: var(--row-gap-text);
        font-size: .8125rem;
        font-family: var(--font-text);
        color: #7a7a7a;
    }
    .cb-product-card__title {
        font-family: var(--font-text);
        font-size: 0.825rem;
        font-weight: 400;
        margin: 0 0 var(--row-gap-text);
    }
    .cb-product-card__price {
        margin: 1em 0 0.65em;
        font-size: 1.25rem;
        font-weight: 500;
    }
    .cb-product-card__tag {
        position: absolute;
        top: 0;
        left: 0;
        font-size: .5rem;
        padding: 1.5em;
        text-transform: uppercase;
        font-family: var(--font-title);
    }
</style>